@import 'normalize.css';

:root{
    --primary: #fe2c55;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --black: #000;
    --text-color: #161823;
    --white: #fff;
    --font-family: 'ProximaNova', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-family)
    font-size: 1.6 rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button , input, [tabindex]{
    outline: none;
    border:none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}


// Tippy
body{
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-content {
        padding: 8px 9px;
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}

// Fonts
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 600;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-semibold.otf');
    font-weight: 600;
}
