.wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
}

.primary{
    background-color: var(--primary);
    color: var(--white);
image.png

}