.wrapper{
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0 1px 1px rgb(0 0 0/12%);
    display: flex;
    justify-content: center;
}

.inner{
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    
}

.search{
    position: relative;
    display: flex;
    width: 361px;
    height: var(--search-height);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    background-color: rgba(22,24,35,0.06);
    border: 1.5px solid transparent;
    input{
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        padding: 12px 0;
        caret-color: var(--);
    }

    &::after{
        content: "";
        position: absolute;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22,24,35,0.12);
        width: 1px;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
    }

    &:focus-within{
        border-color: rgba(22,24,35,1.2)
    }
}

.clear, .loading{
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22,24,35,0.34);
}

.search-btn{
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22,24,35,0.34);

    &:hover{
        background-color: rgba(22,24,35,0.03);
        cursor: pointer;
    }
}