.wrapper{
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    --search-button-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0 1px 1px rgb(0 0 0/12%);
    display: flex;
    justify-content: center;
}

.inner{
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo-link{
    display: flex;
}

.more-btn{
    font-size: 2 rem;
    margin-left: 24px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.action{
    display: flex;
    align-items: center;
}

.action-btn{
    font-size: 2,6rem;
    background-color: transparent;
    color: #161823;
    padding: 4px 12px;
}

.user-avatar{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 32px;
}