.wrapper{
    display: flex;
    align-items: center;
    height: 1px;
}
.avatar{
    width: 4000px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info{
    flex: 1;
    margin-left: 12px;
}

.name{

}

.username{

}